In [4]:
import pandas as pd

train = pd.read_csv("/home/recruit/Downloads/umuzi/projects/Data Visualisation 2/training.csv")

print(train)

        ID  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8_1  Q8_2  ...  Q17  Q18  Q19  \
0     5086  98   2   3   1   1   2   2     0     0  ...   -1    4    4
1     1258  40   1   1   3   5   1   1     1     0  ...    4    1    4
2      331  18   2   4   6   3   2   1     0     0  ...   -1    1    1
3     6729  50   1   1   3   1   1   1     0     0  ...   -1    1    4
4     8671  34   1   1   1   1   2   1     0     1  ...   -1    1    4
...    ...  ..  ..  ..  ..  ..  ..  ..   ...   ...  ...  ...  ...  ...
7089  8378  57   2   3   3   1   2   2     0     1  ...   -1    1    4
7090   881  32   1   1   6   3   1   1     0     1  ...   -1    1    1
7091  6672  22   2   3   3   3   2   2     0     1  ...   -1    4    4
7092  5416  28   2   1   3   1   2   2     0     1  ...   -1    1    4
7093  3946  78   1   3   1   1   2   2     0     0  ...   -1    4    4

      Latitude  Longitude  mobile_money  savings  borrowing  insurance  \
0    -4.460442  29.811396             0        0          0          0
1    -6.176438  39.244871             1        1          1          0
2    -6.825702  37.652798             1        0          0          0
3    -3.372049  35.808307             1        0          1          0
4    -7.179645  31.039095             1        1          0          1
...        ...        ...           ...      ...        ...        ...
7089 -5.811335  35.098103             0        1          0          0
7090 -2.635156  32.945423             1        1          0          0
7091 -8.303729  31.059642             0        0          0          0
7092 -8.090712  35.836560             1        0          0          1
7093 -5.192204  38.764523             0        0          0          0

      mobile_money_classification
0                               0
1                               3
2                               2
3                               3
4                               3
...                           ...
7089                            1
7090                            3
7091                            0
7092                            3
7093                            0

[7094 rows x 37 columns]

In [11]:
#Examine the dataset. Are there any missing observations or columns where the data do not seem valid?
train.isnull().sum()

ID                             0
Q1                             0
Q2                             0
Q3                             0
Q4                             0
Q5                             0
Q6                             0
Q7                             0
Q8_1                           0
Q8_2                           0
Q8_3                           0
Q8_4                           0
Q8_5                           0
Q8_6                           0
Q8_7                           0
Q8_8                           0
Q8_9                           0
Q8_10                          0
Q8_11                          0
Q9                             0
Q10                            0
Q11                            0
Q12                            0
Q13                            0
Q14                            0
Q15                            0
Q16                            0
Q17                            0
Q18                            0
Q19                            0
Latitude                       0
Longitude                      0
mobile_money                   0
savings                        0
borrowing                      0
insurance                      0
mobile_money_classification    0
dtype: int64

In [12]:
#Get basic descriptive statistics for the dataset.
train.describe()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
count,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,...,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000
mean,4742.627291,38.239498,1.559910,1.787426,3.060051,2.548915,1.840569,1.397942,0.062165,0.630110,...,-0.431914,1.860164,3.163378,-6.034378,35.354029,0.553989,0.461517,0.432901,0.151255,1.799267
std,2731.120086,16.332148,0.496433,1.165160,1.557779,1.534257,0.366103,0.489508,0.241472,0.482809,...,1.489879,1.351372,1.317691,2.720888,2.899511,0.497112,0.498552,0.495512,0.358322,1.196955
min,1.000000,16.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,-1.000000,1.000000,1.000000,-11.467463,29.639578,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2397.250000,25.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,0.000000,0.000000,...,-1.000000,1.000000,2.000000,-8.275387,32.935429,0.000000,0.000000,0.000000,0.000000,1.000000
50%,4744.500000,35.000000,2.000000,1.000000,3.000000,3.000000,2.000000,1.000000,0.000000,1.000000,...,-1.000000,1.000000,4.000000,-6.087854,35.073326,1.000000,0.000000,0.000000,0.000000,2.000000
75%,7105.000000,48.000000,2.000000,3.000000,3.000000,4.000000,2.000000,2.000000,0.000000,1.000000,...,-1.000000,4.000000,4.000000,-3.517053,38.351815,1.000000,1.000000,1.000000,0.000000,3.000000
max,9459.000000,100.000000,2.000000,4.000000,8.000000,6.000000,2.000000,2.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,-1.084000,40.258744,1.000000,1.000000,1.000000,1.000000,3.000000